.project {
    background: $light-gray;
    &_description {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: gray;
        max-width: 580px;
    }
    &_title{
        font-family: Popins;
        font-style: normal;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin: 0 auto;
        padding: 1rem 0;
        max-width: 1184px;
    }

}

.projects_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;

}